.features {
  display: flex;
  align-items: center;
  /*changed the padding to adjust to the new feature svgs*/
  padding: 3rem 0 2rem 0;
  width: 100%;
}

.featureSvg {
  /*adjust the size for the new svgs*/
  height: 100px;
  width: 100px;
  stroke-width: 0.08px;
  fill: #f5f6f7;
  stroke: #f5f6f7;
}

/* Dark mode */
[data-theme='light'] .featureSvg {
  fill: #1C1E21;
  stroke: #1C1E21; /* Change color in dark mode */
}